In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

In [3]:
data_path = r"C:\Users\jhoni\Documents\LooperAI\repositorios\bb-tech-challenge\data\raw\storedata_total.xlsx"
df_raw = pd.read_excel(data_path,sheet_name='data',header=0, engine='openpyxl')
df_raw.head(5)

c:\Users\jhoni\Documents\LooperAI\repositorios\bb-tech-challenge\.venv\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,custid,retained,created,firstorder,lastorder,esent,eopenrate,eclickrate,avgorder,ordfreq,paperless,refill,doorstep,favday,city
0,6H6T6N,0,2012-09-28,2013-08-11 00:00:00,2013-08-11 00:00:00,29,100.000000,3.448276,14.52,0.000000,0,0,0,Monday,DEL
1,APCENR,1,2010-12-19,2011-04-01 00:00:00,2014-01-19 00:00:00,95,92.631579,10.526316,83.69,0.181641,1,1,1,Friday,DEL
2,7UP6MS,0,2010-10-03,2010-12-01 00:00:00,2011-07-06 00:00:00,0,0.000000,0.000000,33.58,0.059908,0,0,0,Wednesday,DEL
3,7ZEW8G,0,2010-10-22,2011-03-28 00:00:00,2011-03-28 00:00:00,0,0.000000,0.000000,54.96,0.000000,0,0,0,Thursday,BOM
4,8V726M,1,2010-11-27,2010-11-29 00:00:00,2013-01-28 00:00:00,30,90.000000,13.333333,111.91,0.008850,0,0,0,Monday,BOM

In [4]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30801 entries, 0 to 30800
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   custid      30781 non-null  object
 1   retained    30801 non-null  int64
 2   created     30781 non-null  datetime64[ns]
 3   firstorder  30781 non-null  object
 4   lastorder   30781 non-null  object
 5   esent       30801 non-null  int64
 6   eopenrate   30801 non-null  float64
 7   eclickrate  30801 non-null  float64
 8   avgorder    30801 non-null  float64
 9   ordfreq     30801 non-null  float64
 10  paperless   30801 non-null  int64
 11  refill      30801 non-null  int64
 12  doorstep    30801 non-null  int64
 13  favday      30801 non-null  object
 14  city        30801 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(5), object(5)
memory usage: 3.5+ MB

In [ ]:
int(df_raw['retained'].isnull().sum())

0

In [6]:
# columns = df_raw.select_dtypes(include=['int64']).columns
columns = df_raw.columns

for col in columns:
    print(f"{col} value count: {df_raw[col].nunique()}")
    print("="*50)

custid value count: 30769
==================================================
retained value count: 2
==================================================
created value count: 2821
==================================================
firstorder value count: 2672
==================================================
lastorder value count: 2414
==================================================
esent value count: 90
==================================================
eopenrate value count: 977
==================================================
eclickrate value count: 503
==================================================
avgorder value count: 9937
==================================================
ordfreq value count: 4388
==================================================
paperless value count: 2
==================================================
refill value count: 2
==================================================
doorstep value count: 2
==================================================
favday value count: 7
==================================================
city value count: 4
==================================================

In [14]:
df_raw.loc[df_raw['custid'].isnull(),:].shape

(20, 15)

In [7]:
df_temp = df_raw.copy()
df_temp.shape

(30801, 15)

In [8]:
df_temp = df_temp.dropna(subset=['custid']).reset_index(drop=True)
df_temp.shape

(30781, 15)

In [15]:
df_temp['created'].max()

Timestamp('2018-01-17 00:00:00')